{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "jsxSingleQuote": false,
    "useTabs": false,
    "tabWidth": 2,
    "overrides": [
        {
            "files": ["*.json", ".prettierrc"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
