@use "@carbon/react/scss/themes" as themes;
@use "@carbon/react/scss/theme" as carbon-theme with (
  $theme: themes.$white
);
@use "@carbon/react/scss/layer";
@use "@carbon/react/scss/components/button";
@use "@carbon/react/scss/components/tooltip";
@use "@carbon/react/scss/components/overflow-menu";
@use "@carbon/react/scss/components/contained-list";

.cds--white {
  @include carbon-theme.theme(themes.$white);
}

.cds--g100 {
  @include carbon-theme.theme(themes.$g100);
}

.rapida-microphone-menu-options {
  z-index: 10001;
  min-width: min(16rem, calc(100vw - 2rem));
}
