@use "@carbon/react/scss/themes" as themes;
@use "@carbon/react/scss/theme" as carbon-theme with (
  $theme: themes.$white
);
@use "@carbon/react/scss/layer";
@use "@carbon/react/scss/components/button";
@use "@carbon/react/scss/components/tooltip";
@use "@carbon/react/scss/components/form";
@use "@carbon/react/scss/components/text-area";
@use "@carbon/react/scss/components/list-box";
@use "@carbon/react/scss/components/dropdown";
@use "@carbon/react/scss/components/tile";
@use "@carbon/react/scss/components/inline-loading";

.cds--white {
  @include carbon-theme.theme(themes.$white);
}

.cds--g100 {
  @include carbon-theme.theme(themes.$g100);
}

.pks_font-sans {
  height: 100%;
}

.pks_font-sans .cds-aichat--input-container {
  border-radius: 0;
  padding: 2px !important;
}
:host .cds-aichat--input-container {
    padding: 2px !important;
}
.cds-aichat--input-container [contenteditable="true"], .cds-aichat--input-container textarea {
    font-size: var(--cds-body-01-font-size, .875rem) !important;
}

.cds-aichat--input-container [contenteditable="true"], .cds-aichat--input-container textarea::placeholder {
    font-size: var(--cds-body-01-font-size, .875rem) !important;
}